html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}  
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body 
        div.backdrop
        header.main-header
            button#side-menu-toggle Menu
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a(href="/", class=((path==='shop') ? 'active' : '')) Shop
                    li.main-header__item
                        a(href="/products", class=((path==='prodList') ? 'active' : '')) Product List 
                    li.main-header__item
                        a(href="/orders", class=((path==='orders') ? 'active' : '')) Orders
                    li.main-header__item
                        a(href="/cart", class=((path==='cart') ? 'active' : '')) Cart
                    li.main-header__item
                        a(href="/admin/add-product", class=((path==='admin/addProduct') ? 'active' : '')) Add Product
                    li.main-header__item
                        a(href="/admin/admin-products", class=((path==='admin/prodList') ? 'active' : '')) Admin Product List
        nav.mobile-nav  
            ul.mobile-nav__item-list    
                li.mobile-nav__item
                    a(href="/admin/add-product", class=((path==='admin/addProduct') ? 'active' : '')) Add Product
                li.mobile-nav__item
                    a(href="/admin/admin-products", class=((path==='admin/prodList') ? 'active' : '')) Admin Product List
                li.mobile-nav__item 
                    a(href="admin/edit-product", class = ((path==='admin/editProduct') ? 'active' : '')) Edit Product
                li.mobile-nav__item
                    a(href="/", class=((path==='shop') ? 'active' : '')) Shop
                li.mobile-nav__item
                    a(href="/products", class=((path==='prodList') ? 'active' : '')) Product List 
                li.mobile-nav__item
                    a(href="/orders", class=((path==='orders') ? 'active' : '')) Orders
                li.mobile-nav__item
                    a(href="/cart", class=((path==='cart') ? 'active' : '')) Cart
        main
            block content
        script(src="/js/main.js") 
