extends ../layouts/mainLayout.pug

block append styles 
    link(rel="stylesheet", href="/css/orders.css")   

block content   
    if orders.length > 0
        ul.orders   
            each order in orders 
                li.orders__item 
                    h1 Order ID - #{order._id} 
                    ul.orders__products 
                        each item in order.items 
                            li.orders__products-item #{item.title}: #{item.qty}
                    h1 Price: #{order.price}
    else 
        h1 No Orders Found!
